<div class="container" style="margin: 50px auto">
    <div class="row">
        <div class="col">
            <p class="text-rigth">Hola {{ usuario}} </p>
        </div>
    </div>
</div>

<div class="row">
    <p class="text-end">Hola {{usuario}} ! <a class="btn btn-danger"
    href="/admin/login/logout">Cerrar sesión 
    <i class="fas fa-sing-out-alt"></i></a></p>
</div>

<div class="row">
    <div class="col-7">
        <h3>Dejanos tus ideas</h3>
        </div>
        <div class="col-5 text-end">
            <a class="btn btn-success" href=""><i class="fa fa-plus"
            aria-hidden="true"></i> Nuevo</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table">
        <thead>
            <th scope="col" class="celdaTitulo">#</th>
            <th scope="col" class="celdaTitulo">Nombre del Plato</th>
            <th scope="col" class="celdaTitulo">Descripción</th>
            <th scope="col" class="celdaTitulo" >Imagen</th>
            <th scope="col" class="celdaTitulo">Precio</th>
            <th scope="col" class="celdaTitulo">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row"></td>
            <td>Titulo</td>
            <td class= "text-end"></td>
            <td>
              <a class=btn btn-secondary" href="">
                <i class="fa-solid fa-pencil" aria-hidden="true"></i></a>
                <a class="btn btn_secondary" href="">
                    <i class="fa-solid fa-trash" aria-hidden="true"></i></a>
                    </td>
                    </tr>
                    </tbody>
                    </table>
                    </div>
                    </div>